@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(251.69deg, #FBF0E3 -2.54%, #EEE9F9 23.1%, #FAFAFA 55.9%, #FAFAFA 99.11%);
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100%
}
